body {
    display: flex;
    justify-content: center;

}
.container {
    height: 400px;
    margin-top: 20px;
    box-shadow: 0px 0px 20px 10px #0044ff;
    padding: 50px;
    border-radius: 30px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(/imges/bmi3.jpg);
}





